<!--<app-productinfo></app-productinfo>-->
<!--Tested and working fine-->

<!--Test done for Forgot password-->
<!--<app-forgot-password></app-forgot-password>-->

<!--Done change password-->
<!--<app-change-password></app-change-password>-->

<!--Done App Admin-->
<!--<app-adminpage></app-adminpage>-->
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->
<!--<div class="navbar navbar-inverse navbar-fixed-bottom">

  <div class="container">

    <p class="navbar-text">©Finassist@ LnTInfotech Ltd.</p>
  </div>
</div>-->
