<!--<app-productinfo></app-productinfo>-->
<!--Tested and working fine-->

<!--Test done for Forgot password-->
<!--<app-forgot-password></app-forgot-password>-->

<!--Done change password-->
<!--<app-change-password></app-change-password>-->

<!--Done App Admin-->
<!--<app-adminpage></app-adminpage>-->

<!--Done Testing the homepage-->
<!--<app-homepage></app-homepage>-->

<!--Done testing app login-->
<!--<app-login></app-login>-->


<app-register></app-register>

<footer id="footer" class="text-white text-center text-lg-start" style="background-color:#b388ff;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">CONTACT US</h5>
        <i class="fa fa-map-marker float-left" aria-hidden="true">  3500 Deer Creek Rd, Palo Alto, CA 94304, United States. 414402.</i> <br>
        <i class="fa fa-envelope-o float-left" aria-hidden="true"> finassist4u@fininfotech.com</i> <br>
        <i class="fa fa-phone float-left" aria-hidden="true">   (650) 253-0001/ (650) 253-0002.</i>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase"> DEVELOPER DETAILS</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Manoj Janapala</a>
          </li>
          <li>
            <a href="#!" class="text-white">Bindu Kamarajugadda</a>
          </li>
          <li>
            <a href="#!" class="text-white">Karnati Reddy</a>
          </li>
          <li>
            <a href="#!" class="text-white">Parag Kaldate</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Here to assist!</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Career at finassist</a>
          </li>
          <li>
            <a href="#!" class="text-white">Our Services</a>
          </li>
          <li>
            <a href="#!" class="text-white">Explore</a>
          </li>
          <li>
            <a href="#!" class="text-white">FAQ</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #805acb">
    © 2020 Copyright:
    <a class="text-white" href="https://lntinfotech.com/">Finassist infotech ltd.</a>
  </div>
  <!-- Copyright -->


</footer>
