<!--<app-productinfo></app-productinfo>-->
<!--Tested and working fine-->

<!--Test done for Forgot password-->
<!--<app-forgot-password></app-forgot-password>-->

<!--Done change password-->
<!--<app-change-password></app-change-password>-->

<!--Done App Admin-->
<!--<app-adminpage></app-adminpage>-->

<!--Done Testing the homepage-->
<!--<app-homepage></app-homepage>-->

<!--Done testing app login-->

<!--<a [routerLink]="['productinfo','2']">ProductInfo</a>-->
<!--
<a routerLink='productlist'>ProductList</a>-->

<!--<app-productinfo></app-productinfo>-->



<router-outlet></router-outlet>
<!--Done testing Register-->
<!--<app-register></app-register>-->



<!--<app-dash-board></app-dash-board>-->

<!--<app-productlist></app-productlist>-->

