<h1>DashBoard</h1>
<div class="carddetails">
<table>
    <tr>
        <td class="firstline">LFI</td>
    </tr>
    <tr>
        <td>Card Number:</td>
    </tr>
    <tr>
        <td>Name:</td>
    </tr>
    <tr>
        <td>Valid till: MM/YY</td>
    </tr>
    <tr>
        <td>
            CARD TYP:
        </td>
    </tr>
    <tr class="lastline" >
        <td >
        ACTIVATED
        </td>
    </tr>
</table>
</div>
<div style="font-size:medium">
<p>TOTAL CREDIT:</p>

<p>CREDIT USED:</p>
<p>REMAINING CREDIT:</p>
<h1 style="font-size: large">PRODUCTS PURCHASED</h1>
<table style="width:75%">
    <tr>
        <td>PRODUCT NAME:</td>
        <td >AMOUNT:</td>
    </tr>
</table>
<p>PAID:</p>
<p>BALANCE:</p>
</div>
<br>
<div>
    <p>RECENT TRANSACTIONS</p>
</div>

  <table class="border1" >
    <tr class="border1">
        <th class="border1" >PRODUCT</th>
        <th class="border1">DATE</th>
        <th class="border1">AMOUNT PAID</th>

    </tr>

    <tr class="border1">
        <td class="border1">    </td>
        <td class="border1">    </td>
        <td class="border1">    </td>
        </tr>
    
  </table>