<div class="division-outer">
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #805acb;">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link pull-right" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--// NAVBAR ENDs -->

  <hr class="my-5">
  <div class="container p-3">
    <div class="offset-3 col-6">
      <div class="card">
        <div class="card-header  font-weight-bold">
          Change Password
        </div>
        <div class="card card-body">
          <div class="form-group">
            <label>UserName</label>
            <input  class="form-control" [(ngModel)]="userName">
          </div>
          <form [formGroup]="frmSignup" (submit)="submit()">
            <div class="form-group">
              <label for="password" [ngClass]="frmSignup.controls['password'].invalid ? 'text-danger' : ''">New Password:</label>
              <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">
              <!-- <label class="text-danger col" *ngIf="frmSignup.controls['password'].hasError('required')">
                Password is Required!
              </label> -->
              <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                  'check_circle' }}</i>
                Must be at least 4 characters!
              </label>
            </div>
            <div class="form-group">
              <label for="confirmPassword" [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirm
                Password:</label>
              <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                     [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
              <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                Password is Required!
              </label>
              <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                Password do not match
              </label>
            </div>
            <div class="form-group">
              <button [disabled]="frmSignup.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-5">
</div>
