<h1>PRODUCT LIST</h1>		
            <table ><tr><td>
			<div >
                <img   src="./assets/th.jfif" >
                </div>
               </td><td class="center" >
				<div >
                    <h3>PRODUCT NAME:</h3>
                            <h3>PRODUCT DETAILS:</h3>
                            <h3>COST:</h3>
                            <p style="text-align:center"><button style="text-align: center">Buy Now</button></p>
                    </div>
                </td></tr>
          
                
                <tr><td>
                <div >
                    <img  src="./assets/th.jfif" >
                    </div>
                   </td><td class="center">
                    <div >
                        <h3>PRODUCT NAME:</h3>
                        <h3>PRODUCT DETAILS:</h3>
                        <h3>COST:</h3>
                        <p style="text-align:center"><button style="text-align: center">Buy Now</button></p>                        </div>
                    </td></tr>
			
                   
                    
                    <tr><td>
                    <div >
                        <img   src="./assets/th.jfif" >
                        </div>
                       </td><td class="center">
                        <div >
                            <h3>PRODUCT NAME:</h3>
                            <h3>PRODUCT DETAILS:</h3>
                            <h3>COST:</h3>
                            <p style="text-align:center"><button style="text-align: center">Buy Now</button></p>
                            </div>
                        </td></tr>
                      

                        <tr><td>
                            
				<div>
                    <img  src="./assets/th.jfif" >
                    </div>
                   </td><td class="center">
                    <div >
                        <h3>PRODUCT NAME:</h3>
                            <h3>PRODUCT DETAILS:</h3>
                            <h3>COST:</h3>
                            <p style="text-align:center"><button style="text-align: center">Buy Now</button></p>
                        </div>
                    </td></tr>
				
				
                    <tr><td>
                    <div >
                        <img  src="./assets/th.jfif" >
                        </div>
                       </td><td class="center">
                        <div >
                            <h3>PRODUCT NAME:</h3>
                            <h3>PRODUCT DETAILS:</h3>
                            <h3>COST:</h3>
                            <p style="text-align:center"><button style="text-align: center">Buy Now</button></p>
                            </div>
                        </td></tr>

                        </table>
				
		


