<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .div1 {
    width: 120px;
    height: 90px;
    border: 1px solid blue;
    box-sizing: border-box;
  }
  div.a {
  text-align: center;
}
  </style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="a">
  <h3>Activate user's account </h3> </div>
  <br>
  <div class="a">
  <p>   Do you want to activate user?  </p></div>
  <br>
  <form>
    <div class="a">
    <label class="radio-inline">
    
      <input type="radio" name="optradio" checked>YES
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">NO
    </label> </div>
  <br>
   <br> <div class="a">
    <button type="button" class="btn btn-outline-primary">Continue</button>
  </div>
  </form>
</body>
</html>
