<hr class="my-5">
<!-- <form class="" action="index.html" method="post"> -->
<div class="mx-auto row justify-content-center" style="width: 1100px;">
  <div class="col-md-6">
    <span class="anchor" id="formLogin"></span>
    <!-- form card login -->
    <form class="" action="dashboard.html" method="post">
      <div class="shadow-lg card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
            <div class="form-group">
              <label for="uname1">Username</label>
              <input placeholder="Username" class="form-control" id="uname1" name="uname1" type="text" required>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input autocomplete="new-password" placeholder="Password" class="form-control" id="pwd1" required="" type="password" required>
            </div>
            <div class="form-check small">
              <label class="form-check-label" >
                <input class="form-check-input" type="checkbox">
                <span>Remember me on this computer</span>
              </label>
              <div class="float-right">
                <a href="#">Forgot Password?</a>
              </div>
            </div>
            <div class="float-left">
              <p>New user? <a href="register.html">Register here!</a></p>
            </div>
            <button class="shadow-lg btn btn-success btn-lg float-right" type="submit">Login</button>
          </form>
        </div><!--/card-block-->
      </div><!-- /form card login -->
    </form>
  </div>
</div>
<hr class="my-5">
