
<div class="division-outer">
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #805acb;">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="homepage.html">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="Register.html">Register</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link pull-right" href="login.html">Login</a>
      </li>
    </ul>
  </div>
</nav>
<!--// NAVBAR ENDs -->

<div class="text-center">
  <h4>Pending Approvals</h4>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">UserName</th>
      <th scope="col">Age</th>
      <th scope="col">Aadhar Number</th>
      <th scope="col">Contact number</th>
      <th scope="col">OTP Verified?</th>
      <th scope="col">    Edit</th>
      <th scope="col">    Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>21</td>
      <td>123456</td>
      <td>8546582141</td>
      <td>Yes</td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        EDIT
      </button></td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        Delete
      </button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>22</td>
      <td>123456</td>
      <td>8546582141</td>
      <td>Yes</td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        EDIT
      </button></td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        Delete
      </button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>25</td>
      <td>123456</td>
      <td>8546582141</td>
      <td>Yes</td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        EDIT
      </button></td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        Delete
      </button></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>ABCD</td>
      <td>XYZ</td>
      <td>30</td>
      <td>123456</td>
      <td>8546582141</td>
      <td>Yes</td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        EDIT
      </button></td>
      <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        Delete
      </button></td>

    </tr>
    </tbody>
  </table>

  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <h4>User Details Here </h4>
  <p>...</p>
  <p>...</p>

</div>
</div>





