
<div class="division-outer">
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #805acb;">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<!--// NAVBAR ENDs -->

<div class="text-center">
  <h4>Pending Approvals</h4>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">UserName</th>
       <th scope="col">Date Of Birth</th>
      <th scope="col">Contact number</th>
      <th scope="col">OTP Verified?</th>
      <th scope="col">    Approve</th>
      <th scope="col">    Decline</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let login of logins; let i=index" [attr.data-index]="i">
      <th scope="row">{{i+1}}</th>
      <td>{{login.user.name}}</td>
      <td>{{login.username}}</td>
     <td>{{login.user.dateofbirth}}</td>
      <td>{{login.user.phonenumber}}</td>
      <td>Yes</td>
      <td><button type="button" class="btn btn-success" data-bs-toggle="tooltip" (click)="approveUser(login.username)" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
       Approve
      </button></td>
      <td><button type="button" class="btn btn-danger" data-bs-toggle="tooltip" (click)="declineUser(login.username)" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        Decline
      </button></td>
    </tr>
    </tbody>
  </table>
</div>
</div>





