<!doctype html>
<html lang="en">
  <head><style>
    div.a {
        text-align: center;
      }
      </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    
  </head>
  <body>
    <div class="a">
        <div class="p-3 mb-2 bg-dark text-white"><h2>Admin Page</h2></div>
     <br> </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Age</th>
            <th scope="col">Aadhar Number</th>
            <th scope="col">Contact number</th>
            <th scope="col">OTP Verified?</th>
            <th scope="col">    Edit</th>
            <th scope="col">    Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>21</td>
            <td>123456</td>
            <td>8546582141</td>
            <td>Yes</td>
            <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                EDIT
              </button></td>
              <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                Delete
              </button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>22</td>
            <td>123456</td>
            <td>8546582141</td>
            <td>Yes</td>
           <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                EDIT
              </button></td>
              <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                Delete
              </button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>25</td>
            <td>123456</td>
            <td>8546582141</td>
            <td>Yes</td>
            <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                EDIT
              </button></td>
              <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                Delete
              </button></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>ABCD</td>
            <td>XYZ</td>
            <td>30</td>
            <td>123456</td>
            <td>8546582141</td>
            <td>Yes</td>
            <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                EDIT
              </button></td>
              <td><button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
                Delete
              </button></td>

          </tr>
        </tbody>
      </table>
  </body>
</html>



