<div class="left-column">
  <img src="../../assets/images/flowers.jpg">
</div>
<div class="right-column">
  <div class="productName">
    Flowers
  </div>
  <div class="productDetails">
    This is a flower vase. It has some flowers in it. A total of 3 will be provided in this set
    <br>
    Design: Floral<br>
    Vase Color: White-Green<br>
    Vase Width: 18cm<br>

  </div>
  <div class="productCost">$400</div>
  <div class="emiHeading">EMI PERIOD</div>
  <div class="emiDropDown">
    <select>
      <option>3 Months </option>
      <option>6 Months </option>
      <option>9 Months </option>
      <option>12 Months </option>
    </select>
  </div>
  <div class="emiStartPrice">EMI Calculated: $100</div>
  <div class="payButton">
    <button>Pay Now</button>
  </div>
</div>
