<form class="" action="login.html" method="post">
  <div class="row justify-content-center">
    <div class="col-md-10 offset-md-1">
      <span class="anchor" id="formComplex"></span>
      <hr class="my-5">
      <!-- form complex example -->
      <div class="shadow-lg card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Registration Form</h3>
        </div>
        <div class="card-body">
          <div class="row mt-4">
            <div class="col-sm-5 pb-3">
              <label for="fname">Full Name</label>
              <input class="form-control" id="fname" placeholder="Enter Full Name" type="text" required>
            </div>
            <div class="col-sm-3 pb-3">
              <label for="dob">Date of birth</label>
              <input class="form-control" id="dob" placeholder="" type="date" required>
            </div>
            <div class="col-sm-4 pb-3">
              <label for="contact">Phone No.</label>
              <div class="input-group">
                <input class="form-control" id="contact" placeholder="Enter Mobile Number" type="text" pattern="[0-9]{10}" required>
              </div>
            </div>
            <div class="col-sm-6 pb-3">
              <label for="exampleEmail">Email</label>
              <input class="form-control" placeholder="xxxx@xxx.xxx" id="exampleEmail" type="email" required>
            </div>
            <!-- ------------------------------->
            <div class="col-sm-3 pb-3">
              <label for="exampleBank">Select Bank</label>
              <select class="form-control custom-select" id="exampleBank" required>
                <option class="text-white bg-warning">
                  Select a Bank
                </option>
                <option value="BOM">
                  Bank of Maharashtra
                </option>
                <option value="SBI">
                  State Bank of India
                </option>
                <option value="UBI">
                  Union Bank of India
                </option>
                <option value="RBL">
                  RBL Bank
                </option>
                <option value="HDFC">
                  HDFC Bank
                </option>
                <option value="ICICI">
                  ICICI Bank
                </option>
                <option value="PNB">
                  Punjab National Bank
                </option>
                <option value="MM">
                  Metro multistate
                </option>
                <option value="AX">
                  Axis Bank
                </option>
                <option value="FB">
                  Federal Bank of India
                </option>
                <option value="AB">
                  Allahabad Bank
                </option>
                <option value="BOB">
                  Bank of Baroda
                </option>
                <option value="IDBI">
                  IDBI Bank
                </option>
                <option value="CB">
                  Canara Bank
                </option>
                <option value="CBI">
                  Central Bank of India
                </option>
                <option value="APB">
                  Andhra Bank
                </option>
                <option value="CB">
                  Corporation Bank
                </option>
                <option value="KM">
                  Kotak Mahindra
                </option>
                <option value="OBB">
                  Oriental Bank of Commerce
                </option>
                <option value="BOI">
                  Bank of India
                </option>
                <option value="YB">
                  Yes Bank
                </option>
              </select>
            </div>
            <div class="col-sm-3 pb-3">
              <label for="exampleAc">Account Number</label>
              <input class="form-control" placeholder="Enter Account number" id="exampleAc" type="number" required>
            </div>
            <!-- - ---------------- -->
            <div class="col-sm-6 pb-3">
              <label for="exampleUsername">Userame</label>
              <input class="form-control" placeholder="Create Username" id="exampleUsername" type="text" required>
            </div>
            <div class="col-sm-6 pb-3">
              <label for="exampleIfsc">IFSC Code</label>
              <input class="form-control" id="exampleIfsc" placeholder="Enter IFSC Code" type="text" required>
            </div>
            <div class="col-sm-6 pb-3">
              <label for="examplePass">Password</label>
              <input class="form-control" id="examplePass" placeholder="Enter New Password" type="password"required>
            </div>
            <div class="col-sm-6 pb-3">
              <label for="exampleConfPass">Confirm Password</label>
              <input class="form-control" id="exampleConfPass" placeholder="Enter Password Again" type="password" required>
            </div>

            <div class="col-md-6 pb-3">
              <label for="exampleAddress">Address</label>
              <textarea class="form-control" id="exampleAddress" rows="2" required></textarea>
              <small class="text-muted">Add permanent address here.</small>
            </div>
            <div class="col-md-4 pb-3 ml-5 ">
              <label for="exampleCardType">Card Type</label><br>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input autocomplete="off" checked id="gold" name="options" type="radio" required>
                  Gold
                </label>
                <label class="btn btn-secondary">
                  <input autocomplete="off" id="platinum" name="options" type="radio">
                  Platinum
                </label>

              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-left">
            <p>Already a Member? <a href="login.html">Login here</a></p>
          </div>
          <div class="float-right">
            <input class="btn btn-secondary" type="reset" value="Reset">
            <input class="btn btn-primary" type="submit" value="Register">
          </div>
        </div>
      </div><!--/card-->
      <hr class="my-5">
    </div>
  </div><!--/row-->
</form>
